/* Write your CSS here */
* {
  color: #ffffff;
  font-family: roboto;
}
.bg-conatiner {
  background-image: linear-gradient(#fa7257, #fc63a7);
  background-size: cover;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.btn {
  color: #dd1264;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
  border-style: none;
  border-radius: 10px;
  margin-bottom: 20px;
}

.button-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.card-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
}
.card-item {
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 100px;
  padding-right: 100px;
  background-color: #fddddb;
  color: #000000;
  border-radius: 10px;
  margin-bottom: 20px;
}
.card-details {
  color: #000000;
}

@media screen and (min-width: 768px) {
  .card-container {
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }
  .card-item {
    padding-top: 40px;
    padding-bottom: 40px;
    padding-left: 150px;
    padding-right: 150px;
  }
  .heading {
    font-size: 80px;
    font-weight: bold;
  }
  .btn {
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 25px;
  }
  .card-details {
    font-size: 30px;
  }
}
